body {
    height: 100vh;
    display: flex;
justify-content: center;
align-items: center;
}

.login {
    flex-direction: column;
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
}
input {
    width:  50%;
    padding: 10px;
    margin: 20px 0 20px 0;
}
button{
    width: 60%;
    padding:10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.username{
    font-weight: bold;
    color: lightseagreen;
    position: absolute;
    top:15px;
    right: 20px;
}

.container {

    width: 50vh;
    border-radius: 5px;
    border:05px solid lightseagreen; 
}